nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    line-height: 0;
    padding-block: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 24px;

    padding-block: 8px;
}

nav a:first-child img{
    width: 45px;
}

nav a:last-child img{
    width: 22px;
}

.logo-group{
    display: flex;
    align-items: center;

    gap: 12px;

    color: var(--brand-color);
}